.container {
  height: 100%;
  width: 100%;
  background-color: #EDEDED;
}

.tagPickerContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 1250px;
  margin: auto;
  row-gap: 50px;
}