.main {
  height: 100%;
  width: 100%;
  background-image: url("/images/header_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  font-family: var(--font-anton);
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.error {
  color: #ffd15b;
  font-size: 70px;
}
